<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PCOS Detection</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
  <div class="login">
  <h1 class="ml-predict-heading">Predict PCOS</h1>

   <!-- Main Input For Receiving Query to our ML -->
  <form action="{{ url_for('predict')}}"method="post">
    <div class="container ml-container">
      <div class="row">
        <div class="col-lg-6">
          <input type="text" name="age" placeholder="Age (yrs)" required="required" />
          <input type="text" name="weight" placeholder="Weight (Kg)" required="required" />
          <input type="text" name="height" placeholder="Height (Cm)" required="required" />
          <input type="text" name="cycleLength" placeholder="Cycle length (days)" required="required" />
          <input type="text" name="marraige" placeholder="Marraige Status (Yrs)" required="required" />
          <input type="text" name="pregnant" placeholder="Pregnant (0/1)" required="required" />
          <input type="text" name="abortions" placeholder="No. of aborptions" required="required" />
          <input type="text" name="weight_gain" placeholder="Weight gain (0/1)'" required="required" />

        </div>
        <div class="col-lg-6">
          <input type="text" name="hair" placeholder="Hair growth (0/1)" required="required" />
          <input type="text" name="skin_darkening" placeholder="Skin darkening (0/1)" required="required" />
          <input type="text" name="hair_loss" placeholder="Hair loss (0/1)" required="required" />
          <input type="text" name="pimples" placeholder="Pimples (0/1)" required="required" />
          <input type="text" name="fast_food" placeholder="Fast food (0/1)" required="required" />
          <input type="text" name="exercise" placeholder="Regular Exercise (0/1)" required="required" />
          <input type="text" name="bp_Sys" placeholder="BP _Systolic (mmHg)" required="required" />
          <input type="text" name="bp_dias" placeholder="BP _Diastolic (mmHg)" required="required" />
        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-dark btn-block btn-large ml-button">Predict</button>
  </form>

 <br>
 <br>
 {{ prediction_text }}

</div>
</body>
</html>
